.recipe-form {
  display: flex;
  padding: 0px 96px;
  flex-direction: column;
  gap : 16px;

}

.recipe-form form{
  min-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap : 16px;
}

.recipe-form label{
  display: none;
}

.step-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100%;
}

.in-progress{
  background-color: var(--N200);
}


.progress-done {
  background-image: linear-gradient(to right, var(--P500), var(--N200));
}

.progress-line {
  background-color: var(--N200);
  flex: 1;
  height: 6px;
}

.done{
  background-color: var(--P500);
}

.btn-container{
  width: 100%;
  display: grid;
  gap: 16px;
}

.form-row{
  display: flex;
  width: 100%;
  gap: 16px;
}

.ingredient{
  flex: 5;
}

.q-ingredient{
  flex: 1;
}