/**************************/
/* Home Page */
/**************************/

/* Hero */
.hero{
    text-align: center;
}

/* Stats */
.stats{
    /* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 192px;
gap: 32px;

flex: 1;
height: 256px;

/* Primary/P400 */

background: var(--P700);
}

/* New Recipes */

  /* .basic-card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    border-radius: 16px;
    box-shadow: 0rem 1.5rem 1.5rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
   
  .basic-card-image {
    overflow: hidden;
    position: relative;
    height: 75%;
  }
  
  .basic-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .basic-card-content{
    padding: 32px;
  }
   */