
{% extends 'aside.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static '/css/createRecipe.css' %}" />
{% endblock %}

{% block title %} New Recipe {% endblock %} 


{% block side-header %}  Let's Make Something Delicious!{% endblock %}
{% block side-text %} {% endblock %}</p>
{% block side-footer %} "Food is our common ground, a universal experience." <br> - James Beard  {% endblock %}

{% block right %}
<section class="recipe-form">

  <h1 class="h3">New Culinary Masterpiece!</h1>
  <span class="p1-b N600-c">Create your new recipe in three simple steps!</span>
  <div class="step-bar">
    <div class="step in-progress h3 N700-c"><span class="step-number">1</span></div>
    <div class="progress-line"></div>
    <div class="step in-progress h3 N700-c"><span class="step-number">2</span></div>
    <div class="progress-line"></div>
    <div class="step in-progress h3 N700-c"><span class="step-number">3</span></div>
  </div>
  <span class="h3 P700-c">1. Recipe Summary</span>
  <form  method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    {{ form }}
    <div class="btn-container">
      <input class="btn-r l2-r" type="submit" value="Next Step"></input>
  </div>
  </form>
</section>
{% endblock %}