{% extends 'base.html' %} <!-- Tem de ser a primeira linha -->
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static '/css/home.css' %}" />{% endblock %}

{% block title %}Home{% endblock %} 

{% block content %}
    <!-- Hero  -->
    <section class="section hero P700-b">
        <a class="btn-gb" href="{% url 'recipes' %}"> <div class="flex-c"><span class="h0">Find</span> <span class="h1">Your Favorite Meal</span></div></a>
    </section>

    <!-- Top Recipes  -->
    <section class="section grid pad-l N200-b">
        <header class="grid-header flex-r">
            <aside>
                <h2 class="h1">Receitas Populares</h2>
                <p class="h3 N600-c">Outro Texto</p>
            </aside>
            <aside>
                <a class="h3 P700-c" href="{% url 'recipes' %}">See all</a>
            </aside>
        </header>
        {% for recipe in top_recipes %}  
            {% include 'cooktopia/snippets/basicRecipeCard.html' %}
        {% endfor %}
    </section>

    <!-- Stats Banner  -->
    <section class="stats">


    </section>

    <!-- Stats Banner  -->
    <section class="section pad-l grid grid--2-cols N200-b">
        <header class="grid-header flex-r"> 
            <h2 class="h1">Fresh From Our Community</h2>
        </header>
            {% for recipe in new_recipes %}  
                {% include 'cooktopia/snippets/recipeCard.html' %}
            {% endfor %}
    </section>
{% endblock %}
