{% extends 'base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
{% endblock %}

{% block title %} Recipes {% endblock %} 

{% block content %}
    <img class="banner" src="{{publications.0.image.url}}" alt="">
    <section class="profile section">
        <header class="profile-info pad-xs">
            <picture class="profile-pic">
                <img class="profile-img" src="{{chef.photo.url}}" alt="">
            </picture>
            <div>
                <h1 class="h2">{{chef.name}}</h1>
                <span class="h4 N700-c">Master Chef</span>
            </div>
            <div class="add-btn-container">
                {% if is_home %}
                    <a class="btn-r add-btn l2-b" href="{% url 'addRecipe' %}">+ Add recipe</a>
                {% else %}
                    <a class="btn-r add-btn l2-b" href="{% url 'addRecipe' %}">follow ?? </a>
                {% endif %}
            </div>
        </header>
        <nav>
            <ul class="nav flex-r-c l1-r">
              <li><a href="{% url 'home' %}">Publication</a></li>
              <li><a href="{% url 'recipes' %}">Followers</a></li>
              <li><a href="{% url 'reels' %}">Following</a></li>
            </ul>
        </nav>
    </section>
    <section class="section grid grid--3-cols N100-b">
        {% for recipe in publications %}  
            {% include 'cooktopia/snippets/basicRecipeCard.html' %}
        {% endfor %}
    </section>
    <section class="section grid grid--3-cols N100-b">
        {% for chef in followers %}  
            <a href="{% url 'profile' chef.id %}"><h1>{{chef.name}}</h1></a>
        {% endfor %}
    </section>
    <section class="section grid grid--3-cols N100-b">
        {% for chef in followers %}  
            <h1>{{chef.name}}</h1>
        {% endfor %}
    </section>
{% endblock %}

{% block profile-content %}
{% endblock %}