{% extends 'base.html' %}
<!-- Configurar path nas setting -->
{% load static %}
{% load embed_video_tags %}

{% block css %} 
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/forms.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block title %} Recipe {% endblock %} 

{% block content %}
<picture class="hero-recipe">
    <img class="banner" src="{{recipe.image.url}}" alt="Recipe Banner">
    <i class="fa-solid fa-star icon-xxl P700-c">
        <p id="recipe-rating" class="h3 N100-c">{{recipe.rating}}</p>
    </i>
</picture>
    <section class="section">
        <header class="pad-xs sticty-marker">
            <div class="flex-r nav-line pad-b-s">
                <div>
                    <h1 class="h2 pad-b-xs">{{recipe.title}}</h1>
                    <a href="{% url 'profile' recipe.chef.id %}"><h3 class="h3 N700-c pad-b-s">Chef {{recipe.chef.name}}</h3></a> 
                </div>
                <div class="flex-c">
                    <button class="btn-r add-btn l2-b" id="btn-addcom">+ Add Comment</button>
                </div>
            </div>
        </header>
            <nav class="colors-effect pad-t-s">
                <ul class="nav flex-r-c l1-r ">
                <li><a id="btn-dir" class="N800-c " >Direction</a></li>
                <li><a id="btn-com" class="N800-c" >Comments</a></li>
                <li><a id="btn-vid" class="N800-c" >Video</a></li>
                {% if is_home %}
                    <li><a class="N800-c" href="{% url 'profileInfo' chef.id %}">Info</a></li>
                {% endif %}
                {% if is_home and user.is_staff %}
                    <li><a class="N800-c" href="{% url 'manage' chef.id %}">Admin Panel</a></li>
                {% endif %}
                </ul>
            </nav>
    </section>

    <section class="section flex-r N100-b pad-t-m" id="tbl-dir">
        <div class="recipe-step flex-c P100-b">
            <h2 class="h2">Method</h2>
            <div class="aline">
                {% for step in steps %}
                    <p1 class="p1-b">
                    <span class="circle" id="step-{{loop.index}}"></span> {{step.step}}
                    </p1>
                {% endfor %}
            </div>
            <button class="btn-swipe-i p2-r" id="btn-ns">Next Step</button>
        </div>

        <aside class="recipe-ingredients P500-b" id="tbl-dir">
            <div class="section flex-c">
              <h2 class="h3 N100-c">Ingredients:</h2>
              <div class="aline">
                {% for ingredient in ingredients %}
                  <h4 class="p1-b N100-c" id="ingredient-{{loop.index}}">
                    {{ ingredient.quantity }} -> {{ ingredient.ingredient.name }}
                  </h4>
                {% endfor %}
              </div>
            </div>
            <div class="counter P100-b flex-r-c">
                <i class="fa-solid fa-minus icon-m btn-subtract"></i>
                <h2 class="p2-r">Pax: <span id="counter">1</span> </h2>
                <i class="fa-solid fa-plus icon-m btn-add"></i>
            </div>
          </aside>
          
    </section>

    <section class="section N100-b pad-b-s hide" id="tbl-com">

        <h2 class="h2">Comments</h2>
        <h3 class="h4 P300-c pad-b-s">Share your thoughts, leave a comment and let your voice be heard!</h3>

        {% for comment in comments %}
            <div class="N200-b recipe-border pad-b-s ">
                <h4 class="h4">{{comment.chef.name}}</h4>
                <p class="p1-b">{{comment.description}}</p>
            </div>
        {% endfor %}

    </section>

    <section class="commentForm section N100-b pad-b-m hide" id="tbl-addcom">
        <form class="flex-c" method="post">
            {% csrf_token %}
            {{ commentForm }}
            <button class="btn-swipe-i p1-r" type="submit">Enviar</button>
        </form>
    </section>

    <section class="commentForm section N100-b pad-b-m hide" id="tbl-addrat">
        <div>
            <h2 class="h3 N800-c">Recipe Rating</h2>
            <h3 class="h4 P300-c pad-b-s">Ready to unleash your inner food critic?</h3>
        </div>
        <form class="flex-c"method="post">
            {% csrf_token %}
            {{ ratingForm }}
            <button class="btn-swipe-i p2-r" type="submit">Enviar</button>
        </form>
    </section>

    <section class="section N100-b pad-b-m hide" id="tbl-vid">
        <div class="flex-c">
            {% video recipe.url 'medium' %}
        </div>
    </section>


    <section class="section pad-l grid grid--3-cols P700-b pad-b-m">
        <header class="grid-header flex-c pad-b-s"> 
            <h3 class="h3 N100-c">Related Recipes:</h3>
            <p class="p1-b N100-c">If you liked this recipe and want to expand your culinary knowledge, we have selected some recipes that we think you will enjoy!!</p>
        </header>
            {% for recipe in related_recipes %}
                {% include 'cooktopia/snippets/basicRecipeCard.html' %}
            {% endfor %}
    </section>


<script defer src="{% static '/js/recipe.js' %}"></script>

{% endblock %}