{% extends 'base.html' %}
<!-- Configurar path nas setting -->
{% load static %}
{{% block css %}<link rel="stylesheet" href="{% static '/css/recipes.css' %}" />{% endblock %}

{% block title %} Recipes {% endblock %}
{% block content %}
<section class="section flex-c P300-b">
		<h1 class="h1 headers-font">Find Your Recipes</h1>
		<button class="searchBarButton">Find Recipe</button>
</section>
<section class="mainDiv section flex-r">
		<div class="filtersDiv section">
			<div class="filters_frame">
				<h2 class="h2 text-font">Filters</h2>
				<div class="filter">
					<h3 class="h4 text-font">Difficulty</h3>
						{% for difficulty in difficulties %}
							<label style="display:block"><input type="checkbox" name="difficulty" value="{{ difficulty.id }}"><span class="p2-r text-font"> {{ difficulty.name }}</span></label>
						{% endfor %}
				</div>
				<div class="filter">
				<h3 class = "h4 text-font">Time</h3>
					<label style="display:block"><input type="checkbox" name="preparationTime" value="0,30" ><span class="p2-r text-font"> Up to 30 min</span></label>
					<label style="display:block"><input type="checkbox" name="preparationTime" value="30,60"><span class="p2-r text-font">30min-1h</span></label>
					<label style="display:block"><input type="checkbox" name="preparationTime" value="60,"><span class="p2-r text-font"> 1h+</span></label>
			</div>
			<div class="filter">
				<h3 class="h4 text-font">Meal Type</h3>
				{% for meal_type in meal_types %}
        			<label style="display:block"><input type="checkbox" name="mealType" value="{{ meal_type.id }}"><span class="p2-r text-font">{{ meal_type.name }}</span></label>
				{% endfor %}
			</div>
			<div class="filter">
				<h3 class="h4 text-font">Publication Date</h3>
        			<label style="display:block"><input type="checkbox" name="pub_date" value="week"><span class="p2-r text-font">Last week</span></label>
					<label style="display:block"><input type="checkbox" name="pub_date" value="month"><span class="p2-r text-font"> Last Month </span></label>
					<label style="display:block"><input type="checkbox" name="pub_date" value="year"><span class="p2-r text-font"> Last Year </span></label>
			</div>
			<button class="applyFiltersButton">Apply</button>
			</div>
		</div>
		<div class="receitas section flex-c">
			<div class="receitas_header">
				<div class="receitas_header_frame section flex-r">
					<div class="receitas_header_left_container section">
						<div class="vector_left">
								<img src="media/Icons/hide-filters-icon.png" alt="Hide Filters">
						</div>
						<span class="receitas_header_text_left">Hide Filters</span>
					</div>
					<div class="receitas_header_right_container">
						<h4 class="receitas_header_text_right">Recipes by Page <span class="page-number">1</span></h4>
					</div>
				</div>
			</div>
			<div class="receitas_content section flex-r">
				{% for recipe in new_recipes %}
                	{% include 'cooktopia/snippets/completRecipeCard.html' %}
            	{% endfor %}
				<!--<h3>Spaghetti Bolognese</h3>
				<p class="chef-name">by John Smith</p>
				<div class="rating">
					<span class="star"></span>
					<span class="star"></span>
					<span class="star"></span>
					<span class="star"></span>
					<span class="star"></span>
				</div>
				<img src="/uploads/recipes/food.jpeg" alt="Spaghetti Bolognese">
&lt;!&ndash;				<div class="recipe_footer">&ndash;&gt;
&lt;!&ndash;					<a href="#"><img src="like-icon.jpg" alt="Like" class="thumbs_up_vector"> <span class="number_thumbs_up">256</span></a>&ndash;&gt;
&lt;!&ndash;					<a href="#"><img src="share-icon.png" alt="Share"> Share</a>&ndash;&gt;
				</div>-->
			</div>
		</div>
</section>
{% endblock %}
