:root{
  /* Neutral */
  --N900 : #1F2223;
  --N800 : #363939;
  --N700 : #57595A;
  --N600 : #797A7B;
  --N500 : #8E9090;
  --N400 : #B1B2B2;
  --N300 : #D2D3D3;
  --N200 : #EAEAEA;
  --N100 : #F6F6F6; 

  /* Primary color */
  --P700 : #2A5846;
  --P500 : #0B9A61;
  --P300 : #6A8B7E;
  --P100 : #D4DEDA;

  /* Font Family */
  --headers-font : 'Inter', sans-serif;
  --text-font : 'Inter', sans-serif;
  --labels-font : 'Inter', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1{
  font-family: var(--headers-font);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 125%;
}

.h2{
  font-family: var(--headers-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
}

.h3{
  font-family: var(--headers-font);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
}

.h4{
  font-family: var(--headers-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
}

.p1-r{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.p1-b{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.p2-r{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.p2-b{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.l1-r{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
}

.l1-b{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
}

.l2-r{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
}

.l2-b{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

.btn-r{
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

  /* Decorations */
  text-decoration: none;
  color: var(--N100);
  background: var(--P500);
  border-radius: 8px;
}

.btn-r:hover{
  background: var(--P300);
}

.btn-i{
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

  /* Decorations */
  text-decoration: none;
  color: var(--P500);
  border: 1px solid var(--P500);
  border-radius: 6px;
}

.btn-i:hover{
  color: white;
  background: var(--P500);
}