/**************************/
/* Main Header*/
/**************************/
.main-header{
  position: relative;
}

.header-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.header-icon{
  width: 4rem;
  height: 4rem;
  filter: invert(100%) ;
}

.font-logo{
  font-family: var(--display-font);
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 125%;
}

/**************************/
/* Auto Forms Formating*/
/**************************/

.flex-fill{
  flex :1;
  display: flex;
}

.left{
  flex: 6;
  background-color: var(--P700);

  padding: 96px;
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.left header{
  color: white;
  display: flex;
  justify-content: space-between;
}

.left article{
  display: flex;
  flex-direction: column;
  color: white;
  gap : 32px;
}

.left article p{
  color: var(--N300);
}

.rigth{
  flex: 10;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px;
}

/**************************/
/* Buttons*/
/**************************/

/* Btn Growing Border */
.btn-gb {
    padding: 3.2rem;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border: none;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 1rem;
    overflow: hidden;
  }
  
  .btn-gb:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 0.4rem;
    background-color: white;
    transition: all 0.5s;
  }
  
  .btn-gb:hover:before {
    left: 0;
  }
  
  .btn-gb:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 0.4rem;
    background-color: white;
    transition: all 0.5s;
  }
  
  .btn-gb:hover:after {
    right: 0;
  }
  
  .btn-gb span:before {
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    width: 0.4rem;
    height: 100%;
    background-color: white;
    transition: all 0.5s;
  }
  
  .btn-gb:hover span:before {
    top: 0;
  }
  
  .btn-gb span:after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 0.4rem;
    height: 100%;
    background-color: white;
    transition: all 0.5s;
  }
  
  .btn-gb:hover span:after {
    bottom: 0;
  }

/**************************/
/* Cards */
/**************************/

/* Basic Card */
  .basic-card {
    position: relative;
    height: 40rem;
    box-shadow: 0rem 1.5rem 1.5rem rgba(0, 0, 0, 0.25);
    background-color: black;
    border-radius: 1.6rem;
    overflow: hidden;
  }
   
  .basic-card-imgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
  
  .basic-card-imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }

  .basic-card-content{
    box-shadow: 0rem 1.5rem 1.5rem rgba(0, 0, 0, 0.25);
    padding: 3.2rem 1.6rem;
    padding-top: 2.0rem;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    position: absolute;
    bottom: 0%;
    width: 80%;
    height: 10rem;
    text-align: center;
    background-color :  white;
    left: 10%;
    overflow: hidden;
    transition: 0.5s;
  }

  .basic-card-hiden{
    opacity: 0;
  }

  .basic-card:hover .basic-card-hiden{
    opacity: 1;
  }
 
  .basic-card:hover .basic-card-content {
    height: 100%;
    width: 100%;
    left: 0%;
  }

  .basic-card:hover img {
    opacity: 0;
  }

  /* Recipe Card */
  
.recipe-card{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.2rem;
  border-radius: 1.6rem;
 }
 
 .recipe-card header{
     display: flex;
     gap: 3.2rem;
 }
 
 .profile-imgbox{
 width: 9.6rem;
 height: 9.6rem;
 border-radius: 20rem;
 overflow: hidden;
 }
 
 .recipe-card-imgbox{
     flex: 1;
     border-radius: 1.6rem;
     overflow: hidden;
 }
   
   .recipe-card-imgbox img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     transition: 0.5s;
   }
 
   .recipe-card-imgbox img:hover {
     transform: scale(1.1);
   }
 