<article class="publication">
    <header>          
        <picture class="profile-pic">
        <img class="profile-img" src="{{MEDIA_URL}}recipes/food.jpeg" alt="">
        </picture>
        <div class="publication-title">
            <h3 class="h4 P700-c">Mouse de Chocolate</h3>
            <span class="p1-b N700-c">something somentig</span>
        </div>
    </header>
    <div class="p1-r">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate rem laudantium, porro voluptatum magnam ex vero temporibus obcaecati molestiae dolorum eligendi sit dolor voluptas recusandae non dicta, natus reprehenderit! Molestias?
        </p>
    </div>
    <picture class="publication-img">
        <img  src="{{MEDIA_URL}}recipes/food.jpeg" alt="">
    </picture>
    <footer>
        <span>Icon 17</span><span>Ic share</span>
    </footer>
</article>