<div class="basic-card N000-b">
    <picture class = "basic-card-imgbox">
        <img  src="{{recipe.image.url}}" alt="Recipe Image">
    </picture>
    <div class="basic-card-content flex-c">
        <div>
            <h3 class="h4">{{recipe.title}}</h3>
            <h4 class="p1-b N700-c">By Chef</h4>
        </div>
        <p class="p1-r basic-card-hiden">{{recipe.description}}</p>
        <a class="btn-swipe l1-r basic-card-hiden" href="{% url "recipe" recipe.id%}">Explore Recipe</a>
    </div>
</div>