<section class="section grid grid--4-cols N200-b pad-t-m">
    <div class="flex-c info-card">
        <i class="fa-solid fa-book icon-g"></i>
        <p class="p1-r" >Recipes for every occasion, right at your fingertips</p>
    </div>
    <div class="flex-c info-card">
        <i class="fa-solid fa-utensils icon-g"></i>
        <p class="p1-r" >Savor every bite with our endless recipe collection</p>
    </div>
    <div class="flex-c info-card">
        <i class="fa-solid fa-kitchen-set icon-g"></i>
        <p class="p1-r" >Get insider tips and techniques from the world's top chefs</p>
    </div>
    <div class="flex-c info-card">
        <i class="fa-solid fa-diagram-project icon-g"></i>
        <p class="p1-r" >Create a shared recipe collection with your friends and family</p>
    </div>
</section>