<article class="recipe-card N000-b">
    <header>          
        <picture class="profile-imgbox">
            <a href=""><img src="{{recipe.image.url}}" alt=""></a>
        </picture>
        <div class="recipe-card-title">
            <a href=""><h3 class="h2 P700-c">{{recipe.title}}</h3></a> 
            <span class="h4 N600-c">by Chef <a href="">{{recipe.chef.name}}</a></span>
        </div>
    </header>
    <div class="p1-r">
        <p>{{recipe.description}} </p>
    </div>
    <picture class="recipe-card-imgbox">
        <a href="#"><img  src="{{recipe.image.url}}" alt=""></a>
    </picture>
    <footer>
        <span class="h3 P500-c">Icon 17   </span><span class="h3">Ic share</span>
    </footer>
</article>