{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/commonstyle.css' %}" />
    <link rel="stylesheet" href="{% static '/css/aside.css' %}" />
    {% block css %}{% endblock %}
    <title>{% block title %} Default Title {% endblock %}</title>
  </head>
  <body>
    <section>
      <aside class="left">
        <header>
        <p>Logo</p>
        <a href="{% url 'home' %}">Home</a>
      </header>
      <article>
        <h2 class="h2">{% block side-header %} title {% endblock %}</h2>
        <p class="h4" >{% block side-text %} Lorem ipsum dolor sit amet consectetur adipisicing elit.  {% endblock %}</p>
      </article>
      <footer>
        {% block side-footer %} Footer {% endblock %}
      </footer>
      </aside>
      <aside class="rigth">
        {% block right %}{% endblock %}
      </aside>
      <main>{% block content %} {% endblock %}</main>
    </section>
  </body>
</html>
