{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/e411f8d5f5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/general.css' %}" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static '/css/queries.css' %}" />
    {% block css %}{% endblock %}
    <title>{% block title %} Default Title {% endblock %}</title>
  </head>
  <body>
    <header class="main-header section flex-r P700-b">
      <span class="font-logo flex-r"><img class="header-icon" src="{{MEDIA_URL}}icons/chef-hat.png" alt=""> Cooktopia</span>
      <nav class="header-center nav-effect" >
        <ul class="nav header-nav flex-r-c ">
          <li><a class="N100-c l1-r" href="{% url 'home' %}">Home</a></li>
          <li><a class="N100-c l1-r" href="{% url 'recipes' %}">Recipes</a></li> 
          {% if user.is_authenticated %}
            <li><a class="N100-c l1-r" href="{% url 'profile' user.chef.id %}">Account</a></li>
            <li><a class="N100-c l1-r" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class="N100-c l1-r" href="{% url 'login' %}">Login</a></li>
          {% endif %}  
        </ul>
      </nav> 
      <button class="btn-clear btn-nav">
          <i class="fa-solid fa-bars N100-c icon-m "></i>
      </button>
    </header>

    <main>{% block content %} {% endblock %}</main>
  
    <footer class="section flex-r P700-b">
      <h2 class="h3 N100-c">COOKTOPIA ...</h2>
    </footer>

    <script defer src="{% static '/js/menu.js' %}"></script>
  </body>
</html>
