{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/commonstyle.css' %}" />
    <link rel="stylesheet" href="{% static '/css/base.css' %}" />
    {% block css %}{% endblock %}
    <title>{% block title %} Default Title {% endblock %}</title>
  </head>
  <body>
    <header class="main-header">
      <div><p>Logo</p></div>
      <nav>
        <ul class="main-nav l2-r">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'recipes' %}">Recipes</a></li>
          <li><a href="{% url 'reels' %}">Reels</a></li>
        </ul>
      </nav>
      <div><a href="{% url 'profile' %}">Icon</a></div>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
