{% extends 'sideLayout.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static '/css/forms.css' %}" />
{% endblock %}

{% block title %} Login {% endblock %} 


{% block side-header %} Inspiring Your Inner Chef {% endblock %}
{% block side-text %} We're thrilled to have you back and can't wait to share our latest recipes and culinary adventures with you.{% endblock %}</p>
{% block side-footer %} {% endblock %}

{% block right %}
<section class="login-form">
  <h1 class="h3">Welcome back!</h1>
  <span class="p1-b N600-c">Roll up your sleeves and let's get cooking!</span>
  <form  method="post">
    {% csrf_token %} 
    {{ form }}
    <a class="forgot P500-c l2-b" href="{% url 'home' %}">Forgot password?</a>
      <div class="btn-container">

        <input class="btn-r l1-b" type="submit" value="Login"></input>
    </div>
    <span class="sign-up N600-c l2-r" >Dont have an account? <a class="P500-c l2-r" href="{% url 'registration' %}">Sign up</a></span>
    
  </form>
</section>
{% endblock %}